:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --pink: #ff69b4;
    --green: #32cd32;
}

.box {
    display: flex;
    background-color: var(--pink);
    flex-direction: row;
    flex-wrap: wrap;
}

.box div {
    margin: 10px 5px;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--blue);
    width: 33%;
}

.box div:first-child {
    width: 64%;
}

.item-a {
    grid-area: header;
    background-color: var(--blue);
}

.item-b {
    grid-area: main;
    background-color: var(--pink);
}

.item-c {
    grid-area: sidebar;
    background-color: var(--blue);
}

.item-d {
    grid-area: footer;
    background-color: var(--green);
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
}

.my-element {
  height: 100px;
  background-color: var(--pink);
  color:  var(--white)
}

.my-element-animate {
  width: 30%;
  height: 50px;
  background-color: var(--blue);
  animation: slideIn 3s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}